.app {
    position: relative;
  }
  
  .menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.25s;
  }
  
  .open.menu {
    transform: translateX(0);
  }
